body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: whitesmoke
}

a:hover {
    color: #BEEDDA
}

nav {
    font-family: 'Roboto', sans-serif;
}

.main-title {
    font-family: 'Podkova', serif;
    text-align: center;
}

.main-text {
    margin: 40px;
    text-align: center;
}

.img-divider {
    width: 100%;
    margin: 20px 0 20px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    flex-direction: row;
}

li {
    float: right;
    align-content: flex-start;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.header-icon {
    height: 30px;
    margin: 10px;
}

.footer ul {
    height: 160px;
    padding: 30px;
    text-align: center;
    font-size: large;
    color: whitesmoke;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30%
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
}

.right{
    float: right;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
}
.grid-item{
    display: grid;
}

#fade{
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s;     
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#fade2{
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    animation-delay: 2s;    
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#fade3{
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    animation-delay: 3s;    
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('/img/domos.jpg');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: gray;
    padding: 20px;
    font-family: 'Podkova', serif;
    font-size: 120%;
}
#show_bg_3{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(19, 102, 117, 0.73)),
    url('/img/domo-interior.jpg');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: black;
    padding: 20px;
    font-family: 'Podkova', serif;
    font-size: 120%;
}